body
{
    cursor: pointer;
}

li a
{
    display: block;
    text-align: center;
    padding: 14px 16px;
}

a:link
{
    text-decoration: none;
}

.box
{
    margin: 20px auto;
    width: 100%;
    max-width: 150px;
    height: 40px;
    text-align: center;
}

.header
{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
}

.header div
{
    display: inline-block;
    margin: 12px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.header .left-top-nav
{
    float: left;
    margin-left: 15px;
}

.header .right-top-nav
{
    float: right;
    margin-right: 15px;
}

.iconify[data-icon="ic:baseline-apps"] {
    display: inline-block;
    color: #000;
    height: 30px;
    width: 30px;
    opacity: .55;
    position: relative;
}

.main {
	position: absolute;
	top: 200px;
	left: 0;
	right: 0;
	margin: auto;
}

#google-search
{

}

#lucky
{

}

.search
{
    position: flex;
    padding-top: 15px;
    margin: auto;
    width: 225px;
}

.search-bar
{
    position: flex;
    margin: 0 auto;
    width: 550px;

}

.search-box
{
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
}

.search-box .icon {
    height: 20px;
    width: 20px;
    color: #9AA0A6;
    margin: 12px 0px 0px 12px;
}

.search-input {
    display: block;
    border: 0px;
    width: 455px;
    outline: none;
    margin-left: 12px;
    font-family: arial, sans-serif;
    font-size: 13px;

}

#Google
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 30px;
}

.footer
{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    background-color: gainsboro;
}

.footer .footer-left
{
    float: left;
    margin: 15px;
}

.footer .footer-right
{
    float: right;
    margin: 15px;
}

.footer div
{
    display: inline-block;
    margin: 12px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:  12px;
}

#sign-in
{
    position: relative;
    display: inline-block;
    border-radius:  2px;
    padding: 0px 12px;
    height: 28px;
    background: linear-gradient(#4387fd,#4683ea);
    color: white;
    font-size: 15px;
    vertical-align: middle;
}

#sign-in:hover
{
    box-shadow: 0px 1px 3px #bbbbbb;
}